In [1]:
!pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\admin\anaconda3\lib\site-packages (2.9.6)

In [2]:
import psycopg2
import csv

In [3]:
host = '34.64.57.43'
user = 'khs03'
password = '1234!'
database = 'ai-17-seven'

connection = psycopg2.connect(
    host=host,
    user=user,
    password=password,
    database=database)

cur = connection.cursor()

cur.execute("DROP TABLE IF EXISTS attraction;") 

cur.execute("""
CREATE TABLE attraction(
  Id SERIAL PRIMARY KEY,
  name VARCHAR(200),
  category VARCHAR(200),
  score FLOAT,
  priceif VARCHAR(200),
  time VARCHAR(200),
  price INTEGER,
  priceinfomation VARCHAR(200)
)
""")

with open('C:/Users/admin/Desktop/attraction_clean_price.csv', 'r', encoding='utf-8') as f:
    reader = csv.reader(f)
    next(reader)
    for row in reader:
        try:
            cur.execute("""
                INSERT INTO attraction (
                  name, category, score, priceif,
                  time, price, priceinfomation) 
                VALUES (%s, %s, %s, %s, %s, %s, %s)
            """, row)
        except IndexError:
            print(f"Skipping row {row}")
            continue

connection.commit()
cur.close()
connection.close()

In [5]:
host = '34.64.57.43'
user = 'khs03'
password = '1234!'
database = 'ai-17-seven'

connection = psycopg2.connect(
    host=host,
    user=user,
    password=password,
    database=database)

cur = connection.cursor()

cur.execute("DROP TABLE IF EXISTS hotel;") 

cur.execute("""
CREATE TABLE hotel(
  Id SERIAL PRIMARY KEY,
  name VARCHAR(200),
  grade INTEGER,
  score FLOAT,
  evaluation VARCHAR(10),
  reviewct INTEGER,
  price FLOAT,
  disprice FLOAT,
  service VARCHAR(200),
  checkin VARCHAR(50)
)
""")

with open('C:/Users/admin/Desktop/hotel.csv', 'r', encoding='utf-8') as f:
    reader = csv.reader(f)
    next(reader)
    for row in reader:
        try:
            cur.execute("""
                INSERT INTO hotel (
                  name, grade, score, evaluation, reviewct, 
                  price, disprice, service, checkin) 
                VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)
            """, row)
        except IndexError:
            print(f"Skipping row {row}")
            continue

connection.commit()
cur.close()
connection.close()

In [6]:
host = '34.64.57.43'
user = 'khs03'
password = '1234!'
database = 'ai-17-seven'

connection = psycopg2.connect(
     host=host,
     user=user,
     password=password,
     database=database)

cur = connection.cursor()

cur.execute("DROP TABLE IF EXISTS parair;") 

cur.execute("""
CREATE TABLE parair(
    Id SERIAL PRIMARY KEY,
    date VARCHAR(200),
    airline VARCHAR(200),
    dep VARCHAR(200),
    arr VARCHAR(200),
    day VARCHAR(200),
    payment VARCHAR(200),
    price INTEGER,
    deptime VARCHAR(200),
    arrtime VARCHAR(200),
    layover  VARCHAR(200),
    time VARCHAR(200),
    seat VARCHAR(200)
)
""")

with open('C:/Users/admin/Desktop/korpar.csv', 'r', encoding='utf-8') as f:
  reader = csv.reader(f)
  next(reader)
  for row in reader:
    try:
        cur.execute(f"""
            INSERT INTO parair (
                date, airline, dep, arr,
                day, payment, price, deptime,
                arrtime, layover, time, seat) 
            VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
            """, row)
    except IndexError:
            print(f"Skipping row {row}")
            continue

connection.commit()
cur.close()
connection.close()

In [7]:
host = '34.64.57.43'
user = 'khs03'
password = '1234!'
database = 'ai-17-seven'

connection = psycopg2.connect(
     host=host,
     user=user,
     password=password,
     database=database)

cur = connection.cursor()

cur.execute("DROP TABLE IF EXISTS corair;") 

cur.execute("""
CREATE TABLE corair(
    Id SERIAL PRIMARY KEY,
    date VARCHAR(200),
    airline VARCHAR(200),
    dep VARCHAR(200),
    arr VARCHAR(200),
    day VARCHAR(200),
    payment VARCHAR(200),
    price INTEGER,
    deptime VARCHAR(200),
    arrtime VARCHAR(200),
    layover  VARCHAR(200),
    time VARCHAR(200),
    seat VARCHAR(200)
)
""")

with open('C:/Users/admin/Desktop/parkor.csv', 'r', encoding='utf-8') as f:
  reader = csv.reader(f)
  next(reader)
  for row in reader:
    try:
        cur.execute(f"""
            INSERT INTO corair (
                date, airline, dep, arr,
                day, payment, price, deptime,
                arrtime, layover, time, seat) 
            VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
            """, row)
    except IndexError:
            print(f"Skipping row {row}")
            continue

connection.commit()
cur.close()
connection.close()