In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/content/attraction_clean.csv')

In [3]:
df

,name,category,rate,price,time
0,Paris: Eiffel Tower Entry Ticket with Optional...,Entry ticket with host,4.2,"52,602 per person",1.5 hours
1,Paris: Tootbus Hop-on Hop-off Discovery Bus Tour,Hop-on hop-off tour,4.2,"53,715 per person",1 - 3 days
2,Paris: Montmartre Food Tasting Walking Tour wi...,Guided tour,0.0,"157,728 per person",3 hours
3,Paris: Eiffel Tower Stair Climb to Level 2 w/ ...,Guided tour,3.7,"63,194 per person",2 - 2.5 hours
4,Paris: Eiffel Tower Summit or Second Floor Access,Guided tour,4.3,"103,819 per person",1.5 - 2 hours
...,...,...,...,...,...
790,"Paris: Private, Tailor made, Guided Tour on Vi...",Private tour,5.0,"772,597 per person",3 hours
791,Paris: City Walk and Louvre Museum Tour,Guided tour,5.0,"365,234 per person",5.5 hours
792,Paris: Montmartre Private Walking Tour,Private tour,4.9,"225,694 per person",2 hours
793,Disneyland Paris: Private Transfer from or to ...,Transfer,4.8,"127,893 per group up to 3",35 minutes
794,Private Treasure Hunt around Notre Dame for Fa...,Private tour,5.0,"646,990 per group up to 4",2 hours

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 795 entries, 0 to 794
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      795 non-null    object
 1   category  795 non-null    object
 2   rate      795 non-null    float64
 3   price     795 non-null    object
 4   time      794 non-null    object
dtypes: float64(1), object(4)
memory usage: 31.2+ KB

In [5]:
df['price'] = df['price'].astype(str)

In [6]:
df['price_numeric'] = df['price'].apply(lambda x: int(x.split(' ')[0].replace(',', '')))
df['price_text'] = df['price'].apply(lambda x: ' '.join(x.split(' ')[1:]))

In [7]:
df

,name,category,rate,price,time,price_numeric,price_text
0,Paris: Eiffel Tower Entry Ticket with Optional...,Entry ticket with host,4.2,"52,602 per person",1.5 hours,52602,per person
1,Paris: Tootbus Hop-on Hop-off Discovery Bus Tour,Hop-on hop-off tour,4.2,"53,715 per person",1 - 3 days,53715,per person
2,Paris: Montmartre Food Tasting Walking Tour wi...,Guided tour,0.0,"157,728 per person",3 hours,157728,per person
3,Paris: Eiffel Tower Stair Climb to Level 2 w/ ...,Guided tour,3.7,"63,194 per person",2 - 2.5 hours,63194,per person
4,Paris: Eiffel Tower Summit or Second Floor Access,Guided tour,4.3,"103,819 per person",1.5 - 2 hours,103819,per person
...,...,...,...,...,...,...,...
790,"Paris: Private, Tailor made, Guided Tour on Vi...",Private tour,5.0,"772,597 per person",3 hours,772597,per person
791,Paris: City Walk and Louvre Museum Tour,Guided tour,5.0,"365,234 per person",5.5 hours,365234,per person
792,Paris: Montmartre Private Walking Tour,Private tour,4.9,"225,694 per person",2 hours,225694,per person
793,Disneyland Paris: Private Transfer from or to ...,Transfer,4.8,"127,893 per group up to 3",35 minutes,127893,per group up to 3
794,Private Treasure Hunt around Notre Dame for Fa...,Private tour,5.0,"646,990 per group up to 4",2 hours,646990,per group up to 4

In [8]:
df.to_csv('attraction_clean_price.csv', index=False)