In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\admin\anaconda3\lib\site-packages (4.9.1)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.10.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: trio~=0.17 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: idna in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.1)
Requirement already satisfied: sortedcontainers in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: outcome in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sniffio in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\admin\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\admin\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\admin\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\admin\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd

In [3]:
start_date = pd.to_datetime('2023-06-01')
end_date = pd.to_datetime('2023-08-31')

data = []

for date in pd.date_range(start_date, end_date, freq='D'):
    search_url = f"https://m-flight.naver.com/flights/international/PAR-SEL-{date.strftime('%Y%m%d')}?adult=1&fareType=Y"

    browser = webdriver.Chrome('C:/Users/chromedriver.exe')
    browser.get(search_url)
    browser.implicitly_wait(20)

    oneday = browser.find_elements(By.CLASS_NAME, "indivisual_inner__2RKYG")
    for i in range(len(oneday)):
        rr1 = oneday[i].find_element(By.CLASS_NAME, "indivisual_schedule__1tq7j").text
        rr2 = oneday[i].find_element(By.CLASS_NAME, "item_ItemPriceList__22YBo").text
        data.append([date, rr1, rr2])

    browser.quit()

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_1228\840677621.py:9: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  browser = webdriver.Chrome('C:/Users/chromedriver.exe')

In [4]:
df = pd.DataFrame(data, columns=['date', 'rr1', 'rr2'])

In [5]:
df

,date,rr1,rr2
0,2023-06-01,"에어인디아\n20:25CDG\n10:30ICN\n+2일\n경유 1, 31시간 05분","성인/모든 결제수단\n편도 614,000원~"
1,2023-06-01,"중국동방항공\n21:50CDG\n11:00GMP\n+2일\n경유 1, 30시간 10분","성인/모든 결제수단\n편도 858,800원~"
2,2023-06-01,"중국동방항공\n21:50CDG\n11:55ICN\n+2일\n경유 1, 31시간 05분","성인/모든 결제수단\n편도 858,800원~"
3,2023-06-01,"중국동방항공\n21:50CDG\n15:20ICN\n+2일\n경유 1, 34시간 30분","성인/모든 결제수단\n편도 858,800원~"
4,2023-06-01,"폴란드항공\n10:45CDG\n06:20ICN\n+2일\n경유 1, 36시간 35분","성인/모든 결제수단\n편도 912,200원~"
...,...,...,...
20439,2023-08-31,"여러항공사\n16:25CDG\n17:30ICN\n+1일\n경유 1, 18시간 05분","성인/모든 결제수단\n편도 1,165,600원~"
20440,2023-08-31,"베트남항공\n14:00CDG\n16:25ICN\n+2일\n경유 2, 43시간 25분","성인/모든 결제수단\n편도 1,179,500원~"
20441,2023-08-31,"여러항공사Hop 공동운항\n16:30CDG\n14:10ICN\n+1일\n경유 1, ...","성인/현대 M2/M3 Edition2(이용실적 충족시)\n편도 1,188,300원~"
20442,2023-08-31,"여러항공사Hop 공동운항\n20:45CDG\n13:15ICN\n+2일\n경유 1, ...","성인/모든 결제수단\n편도 1,193,700원~"
20443,2023-08-31,"타이항공\n13:40CDG\n06:35ICN\n+2일\n경유 1, 33시간 55분","성인/모든 결제수단\n편도 1,194,000원~"

In [6]:
split0 = df[['date']]

In [7]:
split0.columns = ['Date']

In [8]:
split1 = df.rr1.str.split('\n', expand = True)
split1.columns = ['Airline', 'Departure', 'Arrival', 'Day', 'time']

In [9]:
split01 = pd.concat([split0, split1], axis = 1)

In [13]:
split2 = df.rr2.str.split('\n', expand = True)
split2.columns = ['Payment', 'Price']

In [14]:
split2

                              Payment           Price
0                          성인/모든 결제수단    편도 614,000원~
1                          성인/모든 결제수단    편도 858,800원~
2                          성인/모든 결제수단    편도 858,800원~
3                          성인/모든 결제수단    편도 858,800원~
4                          성인/모든 결제수단    편도 912,200원~
...                               ...             ...
20439                      성인/모든 결제수단  편도 1,165,600원~
20440                      성인/모든 결제수단  편도 1,179,500원~
20441  성인/현대 M2/M3 Edition2(이용실적 충족시)  편도 1,188,300원~
20442                      성인/모든 결제수단  편도 1,193,700원~
20443                      성인/모든 결제수단  편도 1,194,000원~

[20444 rows x 2 columns]

In [15]:
split012 = pd.concat([split01, split2], axis = 1)

In [16]:
split012

,Date,Airline,Departure,Arrival,Day,time,Payment,Price
0,2023-06-01,에어인디아,20:25CDG,10:30ICN,+2일,"경유 1, 31시간 05분",성인/모든 결제수단,"편도 614,000원~"
1,2023-06-01,중국동방항공,21:50CDG,11:00GMP,+2일,"경유 1, 30시간 10분",성인/모든 결제수단,"편도 858,800원~"
2,2023-06-01,중국동방항공,21:50CDG,11:55ICN,+2일,"경유 1, 31시간 05분",성인/모든 결제수단,"편도 858,800원~"
3,2023-06-01,중국동방항공,21:50CDG,15:20ICN,+2일,"경유 1, 34시간 30분",성인/모든 결제수단,"편도 858,800원~"
4,2023-06-01,폴란드항공,10:45CDG,06:20ICN,+2일,"경유 1, 36시간 35분",성인/모든 결제수단,"편도 912,200원~"
...,...,...,...,...,...,...,...,...
20439,2023-08-31,여러항공사,16:25CDG,17:30ICN,+1일,"경유 1, 18시간 05분",성인/모든 결제수단,"편도 1,165,600원~"
20440,2023-08-31,베트남항공,14:00CDG,16:25ICN,+2일,"경유 2, 43시간 25분",성인/모든 결제수단,"편도 1,179,500원~"
20441,2023-08-31,여러항공사Hop 공동운항,16:30CDG,14:10ICN,+1일,"경유 1, 14시간 40분",성인/현대 M2/M3 Edition2(이용실적 충족시),"편도 1,188,300원~"
20442,2023-08-31,여러항공사Hop 공동운항,20:45CDG,13:15ICN,+2일,"경유 1, 33시간 30분",성인/모든 결제수단,"편도 1,193,700원~"
20443,2023-08-31,타이항공,13:40CDG,06:35ICN,+2일,"경유 1, 33시간 55분",성인/모든 결제수단,"편도 1,194,000원~"

In [17]:
split012.to_csv('airkor.csv', index=False)