In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('/content/airkor.csv')
df2 = pd.read_csv('/content/airkor_pn.csv')
df3 = pd.read_csv('/content/airkor_BC.csv')
df4 = pd.read_csv('/content/airkor_FC.csv')
df5 = pd.read_csv('/content/airpar.csv')
df6 = pd.read_csv('/content/airpar_pn.csv')
df7 = pd.read_csv('/content/airpar_BC.csv')
df8 = pd.read_csv('/content/airpar_FC.csv')

In [3]:
def feature_engineering(df):

  df_error = df[(df['time'].isnull())]
  df_error['time'] = df_error['Day']
  df_error['Day'] = '0일'

  null_time = df[(df['time'].isnull())]
  df = df.drop(index=null_time.index).reset_index(drop=True)

  df = pd.concat([df, df_error], axis=0)
  df = df.reset_index(drop=True)
  
  null_price = df[(df['Price'] == '할인')]
  df = df.drop(index=null_price.index).reset_index(drop=True)

  return df

In [4]:
df_clean1 = feature_engineering(df1)
df_clean2 = feature_engineering(df2)
df_clean3 = feature_engineering(df3)
df_clean4 = feature_engineering(df4)
df_clean5 = feature_engineering(df5)
df_clean6 = feature_engineering(df6)
df_clean7 = feature_engineering(df7)
df_clean8 = feature_engineering(df8)

<ipython-input-3-93daee71927d>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_error['time'] = df_error['Day']
<ipython-input-3-93daee71927d>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_error['Day'] = '0일'
<ipython-input-3-93daee71927d>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_error['time'] = df_error['Day']
<ipython-input-3-93daee71927d>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_error['Day'] = '0일'
<ipython-input-3-93daee71927d>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_error['time'] = df_error['Day']
<ipython-input-3-93daee71927d>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_error['Day'] = '0일'
<ipython-input-3-93daee71927d>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_error['time'] = df_error['Day']
<ipython-input-3-93daee71927d>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_error['Day'] = '0일'

In [5]:
df_clean1

,Date,Airline,Departure,Arrival,Day,time,Payment,Price
0,2023-06-01,에어인디아,20:25CDG,10:30ICN,+2일,"경유 1, 31시간 05분",성인/모든 결제수단,"편도 614,000원~"
1,2023-06-01,중국동방항공,21:50CDG,11:00GMP,+2일,"경유 1, 30시간 10분",성인/모든 결제수단,"편도 858,800원~"
2,2023-06-01,중국동방항공,21:50CDG,11:55ICN,+2일,"경유 1, 31시간 05분",성인/모든 결제수단,"편도 858,800원~"
3,2023-06-01,중국동방항공,21:50CDG,15:20ICN,+2일,"경유 1, 34시간 30분",성인/모든 결제수단,"편도 858,800원~"
4,2023-06-01,폴란드항공,10:45CDG,06:20ICN,+2일,"경유 1, 36시간 35분",성인/모든 결제수단,"편도 912,200원~"
...,...,...,...,...,...,...,...,...
20439,2023-08-31,여러항공사,16:25CDG,17:30ICN,+1일,"경유 1, 18시간 05분",성인/모든 결제수단,"편도 1,165,600원~"
20440,2023-08-31,베트남항공,14:00CDG,16:25ICN,+2일,"경유 2, 43시간 25분",성인/모든 결제수단,"편도 1,179,500원~"
20441,2023-08-31,여러항공사Hop 공동운항,16:30CDG,14:10ICN,+1일,"경유 1, 14시간 40분",성인/현대 M2/M3 Edition2(이용실적 충족시),"편도 1,188,300원~"
20442,2023-08-31,여러항공사Hop 공동운항,20:45CDG,13:15ICN,+2일,"경유 1, 33시간 30분",성인/모든 결제수단,"편도 1,193,700원~"
20443,2023-08-31,타이항공,13:40CDG,06:35ICN,+2일,"경유 1, 33시간 55분",성인/모든 결제수단,"편도 1,194,000원~"

In [6]:
df_clean2

,Date,Airline,Departure,Arrival,Day,time,Payment,Price
0,2023-06-01,싱가포르항공스쿠트항공 공동운항,22:40CDG,10:50ICN,+2일,"경유 1, 29시간 10분",성인/KB국민카드,"편도 2,650,400원~"
1,2023-06-01,캐세이퍼시픽항공,12:45CDG,12:35ICN,+1일,"경유 1, 16시간 50분",성인/KB국민카드,"편도 2,729,300원~"
2,2023-06-01,캐세이퍼시픽항공,12:45CDG,19:15ICN,+1일,"경유 1, 23시간 30분",성인/KB국민카드,"편도 2,729,300원~"
3,2023-06-01,캐세이퍼시픽항공,12:45CDG,21:15ICN,+1일,"경유 1, 25시간 30분",성인/KB국민카드,"편도 2,729,300원~"
4,2023-06-01,에어프랑스,11:50CDG,07:05ICN,+1일,"직항, 12시간 15분",성인/KB국민카드,"편도 2,964,100원~"
...,...,...,...,...,...,...,...,...
9728,2023-08-31,유나이티드항공,17:00CDG,14:45ICN,+2일,"경유 2, 38시간 45분",성인/모든 결제수단,"편도 8,803,000원~"
9729,2023-08-31,유나이티드항공,12:25CDG,14:45ICN,+2일,"경유 2, 43시간 20분",성인/모든 결제수단,"편도 8,803,000원~"
9730,2023-08-31,유나이티드항공,17:00CDG,14:45ICN,+2일,"경유 2, 38시간 45분",성인/모든 결제수단,"편도 8,803,000원~"
9731,2023-08-31,유나이티드항공,09:45CDG,14:45ICN,+2일,"경유 2, 46시간 00분",성인/모든 결제수단,"편도 8,803,000원~"
9732,2023-08-31,유나이티드항공,11:15CDG,14:45ICN,+2일,"경유 2, 44시간 30분",성인/모든 결제수단,"편도 8,810,600원~"

In [7]:
df_clean3

,Date,Airline,Departure,Arrival,Day,time,Payment,Price
0,2023-06-01,터키항공,17:55CDG,17:40ICN,+1일,"경유 1, 16시간 45분",성인/모든 결제수단,"편도 2,396,700원~"
1,2023-06-01,터키항공,16:10CDG,17:40ICN,+1일,"경유 1, 18시간 30분",성인/KB국민카드,"편도 2,430,300원~"
2,2023-06-01,터키항공,14:10CDG,17:40ICN,+1일,"경유 1, 20시간 30분",성인/현대카드,"편도 2,519,900원~"
3,2023-06-01,터키항공,11:05CDG,17:40ICN,+1일,"경유 1, 23시간 35분",성인/현대카드,"편도 2,519,900원~"
4,2023-06-01,터키항공,12:00CDG,09:25ICN,+1일,"경유 1, 14시간 25분",성인/모든 결제수단,"편도 2,866,700원~"
...,...,...,...,...,...,...,...,...
16752,2023-08-31,에어프랑스네덜란드항공 공동운항,20:15CDG,12:10ICN,+2일,"경유 1, 32시간 55분",성인/현대 M2/M3 Edition2(이용실적 충족시),"편도 7,135,300원~"
16753,2023-08-31,싱가폴항공,22:40CDG,15:35ICN,+2일,"경유 1, 33시간 55분",성인/모든 결제수단,"편도 7,185,200원~"
16754,2023-08-31,여러항공사,18:10CDG,07:10ICN,+2일,"경유 2, 30시간 00분",성인/모든 결제수단,"편도 7,207,100원~"
16755,2023-08-31,여러항공사,16:25CDG,07:10ICN,+2일,"경유 2, 31시간 45분",성인/모든 결제수단,"편도 7,207,100원~"
16756,2023-08-31,여러항공사,11:55CDG,07:10ICN,+2일,"경유 2, 36시간 15분",성인/모든 결제수단,"편도 7,207,100원~"

In [8]:
df_clean4

,Date,Airline,Departure,Arrival,Day,time,Payment,Price
0,2023-06-01,에미레이트항공,11:25CDG,17:00ICN,+1일,"경유 1, 22시간 35분",성인/모든 결제수단,"편도 6,136,900원~"
1,2023-06-01,에미레이트항공,15:35CDG,17:00ICN,+1일,"경유 1, 18시간 25분",성인/모든 결제수단,"편도 6,136,900원~"
2,2023-06-01,에미레이트항공,21:55CDG,17:00ICN,+2일,"경유 1, 36시간 05분",성인/모든 결제수단,"편도 6,136,900원~"
3,2023-06-01,대한항공,21:00CDG,15:45ICN,+1일,"직항, 11시간 45분",성인/모든 결제수단,"편도 10,793,200원~"
4,2023-06-02,에미레이트항공,21:55CDG,17:00ICN,+2일,"경유 1, 36시간 05분",성인/모든 결제수단,"편도 6,089,300원~"
...,...,...,...,...,...,...,...,...
1009,2023-08-31,여러항공사싱가폴항공 공동운항,12:00CDG,15:35ICN,+1일,"경유 1, 20시간 35분",성인/모든 결제수단,"편도 17,376,200원~"
1010,2023-08-31,ANA항공 공동운항 정보확인필요,09:35CDG,14:25GMP,+1일,"경유 2, 21시간 50분",성인/모든 결제수단,"편도 17,671,000원~"
1011,2023-08-31,ANA항공 공동운항 정보확인필요,09:35CDG,14:25GMP,+1일,"경유 2, 21시간 50분",성인/모든 결제수단,"편도 17,711,000원~"
1012,2023-08-31,여러항공사,12:45CDG,05:10ICN,+2일,"경유 1, 33시간 25분",성인/모든 결제수단,"편도 17,810,300원~"
1013,2023-08-31,여러항공사,12:45CDG,05:25ICN,+2일,"경유 1, 33시간 40분",성인/모든 결제수단,"편도 20,032,400원~"

In [9]:
df_clean5

,Date,Airline,Departure,Arrival,Day,time,Payment,Price
0,2023-06-01,폴란드항공,11:20ICN,09:55CDG,+1일,"경유 1, 29시간 35분",성인/롯데카드,"편도 813,300원~"
1,2023-06-01,폴란드항공,11:20ICN,18:55CDG,+1일,"경유 1, 38시간 35분",성인/롯데카드,"편도 813,300원~"
2,2023-06-01,에어인디아,12:05ICN,18:30CDG,+1일,"경유 1, 37시간 25분",성인/모든 결제수단,"편도 1,003,900원~"
3,2023-06-01,에티오피아항공,00:25ICN,06:25CDG,+1일,"경유 1, 37시간 00분",성인/KB국민카드,"편도 1,021,400원~"
4,2023-06-01,에티하드항공,17:55ICN,07:45CDG,+1일,"경유 1, 20시간 50분",성인/하나카드,"편도 1,080,300원~"
...,...,...,...,...,...,...,...,...
6934,2023-08-31,루프트한자,12:20ICN,21:25CDG,0일,"경유 1, 16시간 05분",성인/삼성카드,"편도 1,489,900원~"
6935,2023-08-31,여러항공사,13:20ICN,23:40CDG,0일,"경유 1, 17시간 20분",성인/하나멤버스 1Q 카드 Daily,"편도 1,518,800원~"
6936,2023-08-31,대한항공,12:20ICN,18:30CDG,0일,"직항, 13시간 10분",장애인,"편도 1,545,600원~"
6937,2023-08-31,여러항공사,10:55ICN,22:50CDG,0일,"경유 1, 18시간 55분",성인/하나멤버스 1Q 카드 Daily,"편도 1,548,900원~"
6938,2023-08-31,카타르항공,01:30ICN,21:15CDG,0일,"경유 1, 26시간 45분",성인/현대 M2/M3 Edition2(이용실적 충족시),"편도 1,619,700원~"

In [10]:
df_clean6

,Date,Airline,Departure,Arrival,Day,time,Payment,Price
0,2023-06-01,폴란드항공,11:20ICN,09:55CDG,+1일,"경유 1, 29시간 35분",성인/롯데카드,"편도 1,686,300원~"
1,2023-06-01,폴란드항공,11:20ICN,18:55CDG,+1일,"경유 1, 38시간 35분",성인/롯데카드,"편도 1,686,300원~"
2,2023-06-01,루프트한자공동운항 정보확인필요,11:40ICN,08:55ORY,+1일,"경유 1, 28시간 15분",성인/롯데카드,"편도 1,907,100원~"
3,2023-06-01,루프트한자공동운항 정보확인필요,11:40ICN,18:35ORY,+1일,"경유 1, 37시간 55분",성인/롯데카드,"편도 1,907,100원~"
4,2023-06-01,루프트한자,11:40ICN,13:50CDG,+1일,"경유 1, 33시간 10분",성인/롯데카드,"편도 1,907,100원~"
...,...,...,...,...,...,...,...,...
2458,2023-08-31,루프트한자,12:20ICN,21:25CDG,0일,"경유 1, 16시간 05분",성인/현대 M2/M3 Edition2(이용실적 충족시),"편도 1,857,700원~"
2459,2023-08-31,루프트한자,12:20ICN,22:55CDG,0일,"경유 1, 17시간 35분",성인/현대 M2/M3 Edition2(이용실적 충족시),"편도 1,857,700원~"
2460,2023-08-31,에어프랑스,09:05ICN,16:10CDG,0일,"직항, 14시간 05분",성인/삼성 iD PET 카드,"편도 1,932,000원~"
2461,2023-08-31,폴란드항공,11:20ICN,22:45CDG,0일,"경유 1, 18시간 25분",성인/현대 M2/M3 Edition2(이용실적 충족시),"편도 2,366,600원~"
2462,2023-08-31,여러항공사,11:50ICN,23:40CDG,0일,"경유 1, 18시간 50분",성인/모든 결제수단,"편도 2,451,300원~"

In [11]:
df_clean7

,Date,Airline,Departure,Arrival,Day,time,Payment,Price
0,2023-06-01,폴란드항공,11:20ICN,09:55CDG,+1일,"경유 1, 29시간 35분",성인/롯데카드,"편도 2,634,400원~"
1,2023-06-01,폴란드항공,11:20ICN,18:55CDG,+1일,"경유 1, 38시간 35분",성인/롯데카드,"편도 2,634,400원~"
2,2023-06-01,에티오피아항공,00:25ICN,06:25CDG,+1일,"경유 1, 37시간 00분",성인/KB국민카드,"편도 3,398,800원~"
3,2023-06-01,타이항공,10:20ICN,07:10CDG,+1일,"경유 1, 27시간 50분",성인/KB국민카드,"편도 3,613,500원~"
4,2023-06-01,타이항공,17:30ICN,07:10CDG,+1일,"경유 1, 20시간 40분",성인/KB국민카드,"편도 3,613,500원~"
...,...,...,...,...,...,...,...,...
3382,2023-08-31,에어프랑스,09:05ICN,16:10CDG,0일,"직항, 14시간 05분",성인/삼성 iD PET 카드,"편도 3,337,600원~"
3383,2023-08-31,대한항공에어프랑스 공동운항,09:05ICN,16:10CDG,0일,"직항, 14시간 05분",성인/현대 M2/M3 Edition2(이용실적 충족시),"편도 3,367,600원~"
3384,2023-08-31,여러항공사,11:50ICN,23:05CDG,0일,"경유 1, 18시간 15분",성인/현대 M2/M3 Edition2(이용실적 충족시),"편도 3,461,600원~"
3385,2023-08-31,루프트한자,11:40ICN,23:25CDG,0일,"경유 1, 18시간 45분",성인/현대 M2/M3 Edition2(이용실적 충족시),"편도 3,511,300원~"
3386,2023-08-31,루프트한자,12:20ICN,21:25CDG,0일,"경유 1, 16시간 05분",성인/현대 M2/M3 Edition2(이용실적 충족시),"편도 3,523,000원~"

In [12]:
df_clean8

,Date,Airline,Departure,Arrival,Day,time,Payment,Price
0,2023-06-01,캐세이퍼시픽항공,15:10ICN,07:00CDG,+1일,"경유 1, 22시간 50분",성인/KB국민카드,"편도 10,938,100원~"
1,2023-06-01,캐세이퍼시픽항공,10:10ICN,07:00CDG,+1일,"경유 1, 27시간 50분",성인/KB국민카드,"편도 10,938,100원~"
2,2023-06-01,캐세이퍼시픽항공,13:35ICN,07:00CDG,+1일,"경유 1, 24시간 25분",성인/KB국민카드,"편도 10,938,100원~"
3,2023-06-01,캐세이퍼시픽항공,20:15ICN,07:00CDG,+2일,"경유 1, 41시간 45분",성인/KB국민카드,"편도 10,958,700원~"
4,2023-06-02,에미레이트항공,23:55ICN,13:30CDG,+1일,"경유 1, 20시간 35분",성인/현대 M2/M3 Edition2(이용실적 충족시),"편도 5,843,900원~"
...,...,...,...,...,...,...,...,...
788,2023-08-30,여러항공사,10:55ICN,23:00CDG,0일,"경유 1, 19시간 05분",성인/모든 결제수단,"편도 6,629,500원~"
789,2023-08-31,대한항공,12:20ICN,18:30CDG,0일,"직항, 13시간 10분",성인/현대 M2/M3 Edition2(이용실적 충족시),"편도 5,953,500원~"
790,2023-08-31,여러항공사Hop 공동운항,11:25ICN,21:20CDG,0일,"경유 1, 16시간 55분",성인/모든 결제수단,"편도 6,628,600원~"
791,2023-08-31,여러항공사,10:55ICN,22:50CDG,0일,"경유 1, 18시간 55분",성인/모든 결제수단,"편도 6,629,500원~"
792,2023-08-31,여러항공사,10:55ICN,22:00CDG,0일,"경유 1, 18시간 05분",성인/모든 결제수단,"편도 6,973,200원~"

In [13]:
def feature_engineering1(df):

  df['Departure_Time'] = df['Departure'].str.extract(r'(\d{2}:\d{2})[^:]+$')
  df['Departure'] = df['Departure'].str.replace('[^a-zA-Z\s]', '')

  df['Arrival_Time'] = df['Arrival'].str.extract(r'(\d{2}:\d{2})[^:]+$')
  df['Arrival'] = df['Arrival'].str.replace('[^a-zA-Z\s]', '')

  return df

In [14]:
df_clean1 = feature_engineering1(df_clean1)
df_clean2 = feature_engineering1(df_clean2)
df_clean3 = feature_engineering1(df_clean3)
df_clean4 = feature_engineering1(df_clean4)
df_clean5 = feature_engineering1(df_clean5)
df_clean6 = feature_engineering1(df_clean6)
df_clean7 = feature_engineering1(df_clean7)
df_clean8 = feature_engineering1(df_clean8)

<ipython-input-13-e30ad63b4ea9>:4: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Departure'] = df['Departure'].str.replace('[^a-zA-Z\s]', '')
<ipython-input-13-e30ad63b4ea9>:7: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Arrival'] = df['Arrival'].str.replace('[^a-zA-Z\s]', '')
<ipython-input-13-e30ad63b4ea9>:4: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Departure'] = df['Departure'].str.replace('[^a-zA-Z\s]', '')
<ipython-input-13-e30ad63b4ea9>:7: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Arrival'] = df['Arrival'].str.replace('[^a-zA-Z\s]', '')
<ipython-input-13-e30ad63b4ea9>:4: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Departure'] = df['Departure'].str.replace('[^a-zA-Z\s]', '')
<ipython-input-13-e30ad63b4ea9>:7: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Arrival'] = df['Arrival'].str.replace('[^a-zA-Z\s]', '')
<ipython-input-13-e30ad63b4ea9>:4: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Departure'] = df['Departure'].str.replace('[^a-zA-Z\s]', '')
<ipython-input-13-e30ad63b4ea9>:7: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Arrival'] = df['Arrival'].str.replace('[^a-zA-Z\s]', '')
<ipython-input-13-e30ad63b4ea9>:4: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Departure'] = df['Departure'].str.replace('[^a-zA-Z\s]', '')
<ipython-input-13-e30ad63b4ea9>:7: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Arrival'] = df['Arrival'].str.replace('[^a-zA-Z\s]', '')
<ipython-input-13-e30ad63b4ea9>:4: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Departure'] = df['Departure'].str.replace('[^a-zA-Z\s]', '')
<ipython-input-13-e30ad63b4ea9>:7: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Arrival'] = df['Arrival'].str.replace('[^a-zA-Z\s]', '')
<ipython-input-13-e30ad63b4ea9>:4: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Departure'] = df['Departure'].str.replace('[^a-zA-Z\s]', '')
<ipython-input-13-e30ad63b4ea9>:7: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Arrival'] = df['Arrival'].str.replace('[^a-zA-Z\s]', '')
<ipython-input-13-e30ad63b4ea9>:4: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Departure'] = df['Departure'].str.replace('[^a-zA-Z\s]', '')
<ipython-input-13-e30ad63b4ea9>:7: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Arrival'] = df['Arrival'].str.replace('[^a-zA-Z\s]', '')

In [15]:
df_clean1

,Date,Airline,Departure,Arrival,Day,time,Payment,Price,Departure_Time,Arrival_Time
0,2023-06-01,에어인디아,CDG,ICN,+2일,"경유 1, 31시간 05분",성인/모든 결제수단,"편도 614,000원~",20:25,10:30
1,2023-06-01,중국동방항공,CDG,GMP,+2일,"경유 1, 30시간 10분",성인/모든 결제수단,"편도 858,800원~",21:50,11:00
2,2023-06-01,중국동방항공,CDG,ICN,+2일,"경유 1, 31시간 05분",성인/모든 결제수단,"편도 858,800원~",21:50,11:55
3,2023-06-01,중국동방항공,CDG,ICN,+2일,"경유 1, 34시간 30분",성인/모든 결제수단,"편도 858,800원~",21:50,15:20
4,2023-06-01,폴란드항공,CDG,ICN,+2일,"경유 1, 36시간 35분",성인/모든 결제수단,"편도 912,200원~",10:45,06:20
...,...,...,...,...,...,...,...,...,...,...
20439,2023-08-31,여러항공사,CDG,ICN,+1일,"경유 1, 18시간 05분",성인/모든 결제수단,"편도 1,165,600원~",16:25,17:30
20440,2023-08-31,베트남항공,CDG,ICN,+2일,"경유 2, 43시간 25분",성인/모든 결제수단,"편도 1,179,500원~",14:00,16:25
20441,2023-08-31,여러항공사Hop 공동운항,CDG,ICN,+1일,"경유 1, 14시간 40분",성인/현대 M2/M3 Edition2(이용실적 충족시),"편도 1,188,300원~",16:30,14:10
20442,2023-08-31,여러항공사Hop 공동운항,CDG,ICN,+2일,"경유 1, 33시간 30분",성인/모든 결제수단,"편도 1,193,700원~",20:45,13:15
20443,2023-08-31,타이항공,CDG,ICN,+2일,"경유 1, 33시간 55분",성인/모든 결제수단,"편도 1,194,000원~",13:40,06:35

In [16]:
df_clean2

,Date,Airline,Departure,Arrival,Day,time,Payment,Price,Departure_Time,Arrival_Time
0,2023-06-01,싱가포르항공스쿠트항공 공동운항,CDG,ICN,+2일,"경유 1, 29시간 10분",성인/KB국민카드,"편도 2,650,400원~",22:40,10:50
1,2023-06-01,캐세이퍼시픽항공,CDG,ICN,+1일,"경유 1, 16시간 50분",성인/KB국민카드,"편도 2,729,300원~",12:45,12:35
2,2023-06-01,캐세이퍼시픽항공,CDG,ICN,+1일,"경유 1, 23시간 30분",성인/KB국민카드,"편도 2,729,300원~",12:45,19:15
3,2023-06-01,캐세이퍼시픽항공,CDG,ICN,+1일,"경유 1, 25시간 30분",성인/KB국민카드,"편도 2,729,300원~",12:45,21:15
4,2023-06-01,에어프랑스,CDG,ICN,+1일,"직항, 12시간 15분",성인/KB국민카드,"편도 2,964,100원~",11:50,07:05
...,...,...,...,...,...,...,...,...,...,...
9728,2023-08-31,유나이티드항공,CDG,ICN,+2일,"경유 2, 38시간 45분",성인/모든 결제수단,"편도 8,803,000원~",17:00,14:45
9729,2023-08-31,유나이티드항공,CDG,ICN,+2일,"경유 2, 43시간 20분",성인/모든 결제수단,"편도 8,803,000원~",12:25,14:45
9730,2023-08-31,유나이티드항공,CDG,ICN,+2일,"경유 2, 38시간 45분",성인/모든 결제수단,"편도 8,803,000원~",17:00,14:45
9731,2023-08-31,유나이티드항공,CDG,ICN,+2일,"경유 2, 46시간 00분",성인/모든 결제수단,"편도 8,803,000원~",09:45,14:45
9732,2023-08-31,유나이티드항공,CDG,ICN,+2일,"경유 2, 44시간 30분",성인/모든 결제수단,"편도 8,810,600원~",11:15,14:45

In [17]:
df_clean3

,Date,Airline,Departure,Arrival,Day,time,Payment,Price,Departure_Time,Arrival_Time
0,2023-06-01,터키항공,CDG,ICN,+1일,"경유 1, 16시간 45분",성인/모든 결제수단,"편도 2,396,700원~",17:55,17:40
1,2023-06-01,터키항공,CDG,ICN,+1일,"경유 1, 18시간 30분",성인/KB국민카드,"편도 2,430,300원~",16:10,17:40
2,2023-06-01,터키항공,CDG,ICN,+1일,"경유 1, 20시간 30분",성인/현대카드,"편도 2,519,900원~",14:10,17:40
3,2023-06-01,터키항공,CDG,ICN,+1일,"경유 1, 23시간 35분",성인/현대카드,"편도 2,519,900원~",11:05,17:40
4,2023-06-01,터키항공,CDG,ICN,+1일,"경유 1, 14시간 25분",성인/모든 결제수단,"편도 2,866,700원~",12:00,09:25
...,...,...,...,...,...,...,...,...,...,...
16752,2023-08-31,에어프랑스네덜란드항공 공동운항,CDG,ICN,+2일,"경유 1, 32시간 55분",성인/현대 M2/M3 Edition2(이용실적 충족시),"편도 7,135,300원~",20:15,12:10
16753,2023-08-31,싱가폴항공,CDG,ICN,+2일,"경유 1, 33시간 55분",성인/모든 결제수단,"편도 7,185,200원~",22:40,15:35
16754,2023-08-31,여러항공사,CDG,ICN,+2일,"경유 2, 30시간 00분",성인/모든 결제수단,"편도 7,207,100원~",18:10,07:10
16755,2023-08-31,여러항공사,CDG,ICN,+2일,"경유 2, 31시간 45분",성인/모든 결제수단,"편도 7,207,100원~",16:25,07:10
16756,2023-08-31,여러항공사,CDG,ICN,+2일,"경유 2, 36시간 15분",성인/모든 결제수단,"편도 7,207,100원~",11:55,07:10

In [18]:
df_clean4

,Date,Airline,Departure,Arrival,Day,time,Payment,Price,Departure_Time,Arrival_Time
0,2023-06-01,에미레이트항공,CDG,ICN,+1일,"경유 1, 22시간 35분",성인/모든 결제수단,"편도 6,136,900원~",11:25,17:00
1,2023-06-01,에미레이트항공,CDG,ICN,+1일,"경유 1, 18시간 25분",성인/모든 결제수단,"편도 6,136,900원~",15:35,17:00
2,2023-06-01,에미레이트항공,CDG,ICN,+2일,"경유 1, 36시간 05분",성인/모든 결제수단,"편도 6,136,900원~",21:55,17:00
3,2023-06-01,대한항공,CDG,ICN,+1일,"직항, 11시간 45분",성인/모든 결제수단,"편도 10,793,200원~",21:00,15:45
4,2023-06-02,에미레이트항공,CDG,ICN,+2일,"경유 1, 36시간 05분",성인/모든 결제수단,"편도 6,089,300원~",21:55,17:00
...,...,...,...,...,...,...,...,...,...,...
1009,2023-08-31,여러항공사싱가폴항공 공동운항,CDG,ICN,+1일,"경유 1, 20시간 35분",성인/모든 결제수단,"편도 17,376,200원~",12:00,15:35
1010,2023-08-31,ANA항공 공동운항 정보확인필요,CDG,GMP,+1일,"경유 2, 21시간 50분",성인/모든 결제수단,"편도 17,671,000원~",09:35,14:25
1011,2023-08-31,ANA항공 공동운항 정보확인필요,CDG,GMP,+1일,"경유 2, 21시간 50분",성인/모든 결제수단,"편도 17,711,000원~",09:35,14:25
1012,2023-08-31,여러항공사,CDG,ICN,+2일,"경유 1, 33시간 25분",성인/모든 결제수단,"편도 17,810,300원~",12:45,05:10
1013,2023-08-31,여러항공사,CDG,ICN,+2일,"경유 1, 33시간 40분",성인/모든 결제수단,"편도 20,032,400원~",12:45,05:25

In [19]:
df_clean5

,Date,Airline,Departure,Arrival,Day,time,Payment,Price,Departure_Time,Arrival_Time
0,2023-06-01,폴란드항공,ICN,CDG,+1일,"경유 1, 29시간 35분",성인/롯데카드,"편도 813,300원~",11:20,09:55
1,2023-06-01,폴란드항공,ICN,CDG,+1일,"경유 1, 38시간 35분",성인/롯데카드,"편도 813,300원~",11:20,18:55
2,2023-06-01,에어인디아,ICN,CDG,+1일,"경유 1, 37시간 25분",성인/모든 결제수단,"편도 1,003,900원~",12:05,18:30
3,2023-06-01,에티오피아항공,ICN,CDG,+1일,"경유 1, 37시간 00분",성인/KB국민카드,"편도 1,021,400원~",00:25,06:25
4,2023-06-01,에티하드항공,ICN,CDG,+1일,"경유 1, 20시간 50분",성인/하나카드,"편도 1,080,300원~",17:55,07:45
...,...,...,...,...,...,...,...,...,...,...
6934,2023-08-31,루프트한자,ICN,CDG,0일,"경유 1, 16시간 05분",성인/삼성카드,"편도 1,489,900원~",12:20,21:25
6935,2023-08-31,여러항공사,ICN,CDG,0일,"경유 1, 17시간 20분",성인/하나멤버스 1Q 카드 Daily,"편도 1,518,800원~",13:20,23:40
6936,2023-08-31,대한항공,ICN,CDG,0일,"직항, 13시간 10분",장애인,"편도 1,545,600원~",12:20,18:30
6937,2023-08-31,여러항공사,ICN,CDG,0일,"경유 1, 18시간 55분",성인/하나멤버스 1Q 카드 Daily,"편도 1,548,900원~",10:55,22:50
6938,2023-08-31,카타르항공,ICN,CDG,0일,"경유 1, 26시간 45분",성인/현대 M2/M3 Edition2(이용실적 충족시),"편도 1,619,700원~",01:30,21:15

In [20]:
df_clean6

,Date,Airline,Departure,Arrival,Day,time,Payment,Price,Departure_Time,Arrival_Time
0,2023-06-01,폴란드항공,ICN,CDG,+1일,"경유 1, 29시간 35분",성인/롯데카드,"편도 1,686,300원~",11:20,09:55
1,2023-06-01,폴란드항공,ICN,CDG,+1일,"경유 1, 38시간 35분",성인/롯데카드,"편도 1,686,300원~",11:20,18:55
2,2023-06-01,루프트한자공동운항 정보확인필요,ICN,ORY,+1일,"경유 1, 28시간 15분",성인/롯데카드,"편도 1,907,100원~",11:40,08:55
3,2023-06-01,루프트한자공동운항 정보확인필요,ICN,ORY,+1일,"경유 1, 37시간 55분",성인/롯데카드,"편도 1,907,100원~",11:40,18:35
4,2023-06-01,루프트한자,ICN,CDG,+1일,"경유 1, 33시간 10분",성인/롯데카드,"편도 1,907,100원~",11:40,13:50
...,...,...,...,...,...,...,...,...,...,...
2458,2023-08-31,루프트한자,ICN,CDG,0일,"경유 1, 16시간 05분",성인/현대 M2/M3 Edition2(이용실적 충족시),"편도 1,857,700원~",12:20,21:25
2459,2023-08-31,루프트한자,ICN,CDG,0일,"경유 1, 17시간 35분",성인/현대 M2/M3 Edition2(이용실적 충족시),"편도 1,857,700원~",12:20,22:55
2460,2023-08-31,에어프랑스,ICN,CDG,0일,"직항, 14시간 05분",성인/삼성 iD PET 카드,"편도 1,932,000원~",09:05,16:10
2461,2023-08-31,폴란드항공,ICN,CDG,0일,"경유 1, 18시간 25분",성인/현대 M2/M3 Edition2(이용실적 충족시),"편도 2,366,600원~",11:20,22:45
2462,2023-08-31,여러항공사,ICN,CDG,0일,"경유 1, 18시간 50분",성인/모든 결제수단,"편도 2,451,300원~",11:50,23:40

In [21]:
df_clean7

,Date,Airline,Departure,Arrival,Day,time,Payment,Price,Departure_Time,Arrival_Time
0,2023-06-01,폴란드항공,ICN,CDG,+1일,"경유 1, 29시간 35분",성인/롯데카드,"편도 2,634,400원~",11:20,09:55
1,2023-06-01,폴란드항공,ICN,CDG,+1일,"경유 1, 38시간 35분",성인/롯데카드,"편도 2,634,400원~",11:20,18:55
2,2023-06-01,에티오피아항공,ICN,CDG,+1일,"경유 1, 37시간 00분",성인/KB국민카드,"편도 3,398,800원~",00:25,06:25
3,2023-06-01,타이항공,ICN,CDG,+1일,"경유 1, 27시간 50분",성인/KB국민카드,"편도 3,613,500원~",10:20,07:10
4,2023-06-01,타이항공,ICN,CDG,+1일,"경유 1, 20시간 40분",성인/KB국민카드,"편도 3,613,500원~",17:30,07:10
...,...,...,...,...,...,...,...,...,...,...
3382,2023-08-31,에어프랑스,ICN,CDG,0일,"직항, 14시간 05분",성인/삼성 iD PET 카드,"편도 3,337,600원~",09:05,16:10
3383,2023-08-31,대한항공에어프랑스 공동운항,ICN,CDG,0일,"직항, 14시간 05분",성인/현대 M2/M3 Edition2(이용실적 충족시),"편도 3,367,600원~",09:05,16:10
3384,2023-08-31,여러항공사,ICN,CDG,0일,"경유 1, 18시간 15분",성인/현대 M2/M3 Edition2(이용실적 충족시),"편도 3,461,600원~",11:50,23:05
3385,2023-08-31,루프트한자,ICN,CDG,0일,"경유 1, 18시간 45분",성인/현대 M2/M3 Edition2(이용실적 충족시),"편도 3,511,300원~",11:40,23:25
3386,2023-08-31,루프트한자,ICN,CDG,0일,"경유 1, 16시간 05분",성인/현대 M2/M3 Edition2(이용실적 충족시),"편도 3,523,000원~",12:20,21:25

In [22]:
df_clean8

,Date,Airline,Departure,Arrival,Day,time,Payment,Price,Departure_Time,Arrival_Time
0,2023-06-01,캐세이퍼시픽항공,ICN,CDG,+1일,"경유 1, 22시간 50분",성인/KB국민카드,"편도 10,938,100원~",15:10,07:00
1,2023-06-01,캐세이퍼시픽항공,ICN,CDG,+1일,"경유 1, 27시간 50분",성인/KB국민카드,"편도 10,938,100원~",10:10,07:00
2,2023-06-01,캐세이퍼시픽항공,ICN,CDG,+1일,"경유 1, 24시간 25분",성인/KB국민카드,"편도 10,938,100원~",13:35,07:00
3,2023-06-01,캐세이퍼시픽항공,ICN,CDG,+2일,"경유 1, 41시간 45분",성인/KB국민카드,"편도 10,958,700원~",20:15,07:00
4,2023-06-02,에미레이트항공,ICN,CDG,+1일,"경유 1, 20시간 35분",성인/현대 M2/M3 Edition2(이용실적 충족시),"편도 5,843,900원~",23:55,13:30
...,...,...,...,...,...,...,...,...,...,...
788,2023-08-30,여러항공사,ICN,CDG,0일,"경유 1, 19시간 05분",성인/모든 결제수단,"편도 6,629,500원~",10:55,23:00
789,2023-08-31,대한항공,ICN,CDG,0일,"직항, 13시간 10분",성인/현대 M2/M3 Edition2(이용실적 충족시),"편도 5,953,500원~",12:20,18:30
790,2023-08-31,여러항공사Hop 공동운항,ICN,CDG,0일,"경유 1, 16시간 55분",성인/모든 결제수단,"편도 6,628,600원~",11:25,21:20
791,2023-08-31,여러항공사,ICN,CDG,0일,"경유 1, 18시간 55분",성인/모든 결제수단,"편도 6,629,500원~",10:55,22:50
792,2023-08-31,여러항공사,ICN,CDG,0일,"경유 1, 18시간 05분",성인/모든 결제수단,"편도 6,973,200원~",10:55,22:00

In [23]:
def extract_price(price_str):
    price_str = price_str.replace('편도 ', '')
    price_str = price_str.replace(',', '')
    price_str = price_str.replace('원~', '')
    price = int(price_str)
    return price

In [24]:
df_clean1['Price'] = df_clean1['Price'].apply(extract_price)
df_clean2['Price'] = df_clean2['Price'].apply(extract_price)
df_clean3['Price'] = df_clean3['Price'].apply(extract_price)
df_clean4['Price'] = df_clean4['Price'].apply(extract_price)
df_clean5['Price'] = df_clean5['Price'].apply(extract_price)
df_clean6['Price'] = df_clean6['Price'].apply(extract_price)
df_clean7['Price'] = df_clean7['Price'].apply(extract_price)
df_clean8['Price'] = df_clean8['Price'].apply(extract_price)

In [25]:
df_clean1

,Date,Airline,Departure,Arrival,Day,time,Payment,Price,Departure_Time,Arrival_Time
0,2023-06-01,에어인디아,CDG,ICN,+2일,"경유 1, 31시간 05분",성인/모든 결제수단,614000,20:25,10:30
1,2023-06-01,중국동방항공,CDG,GMP,+2일,"경유 1, 30시간 10분",성인/모든 결제수단,858800,21:50,11:00
2,2023-06-01,중국동방항공,CDG,ICN,+2일,"경유 1, 31시간 05분",성인/모든 결제수단,858800,21:50,11:55
3,2023-06-01,중국동방항공,CDG,ICN,+2일,"경유 1, 34시간 30분",성인/모든 결제수단,858800,21:50,15:20
4,2023-06-01,폴란드항공,CDG,ICN,+2일,"경유 1, 36시간 35분",성인/모든 결제수단,912200,10:45,06:20
...,...,...,...,...,...,...,...,...,...,...
20439,2023-08-31,여러항공사,CDG,ICN,+1일,"경유 1, 18시간 05분",성인/모든 결제수단,1165600,16:25,17:30
20440,2023-08-31,베트남항공,CDG,ICN,+2일,"경유 2, 43시간 25분",성인/모든 결제수단,1179500,14:00,16:25
20441,2023-08-31,여러항공사Hop 공동운항,CDG,ICN,+1일,"경유 1, 14시간 40분",성인/현대 M2/M3 Edition2(이용실적 충족시),1188300,16:30,14:10
20442,2023-08-31,여러항공사Hop 공동운항,CDG,ICN,+2일,"경유 1, 33시간 30분",성인/모든 결제수단,1193700,20:45,13:15
20443,2023-08-31,타이항공,CDG,ICN,+2일,"경유 1, 33시간 55분",성인/모든 결제수단,1194000,13:40,06:35

In [26]:
df_clean2

,Date,Airline,Departure,Arrival,Day,time,Payment,Price,Departure_Time,Arrival_Time
0,2023-06-01,싱가포르항공스쿠트항공 공동운항,CDG,ICN,+2일,"경유 1, 29시간 10분",성인/KB국민카드,2650400,22:40,10:50
1,2023-06-01,캐세이퍼시픽항공,CDG,ICN,+1일,"경유 1, 16시간 50분",성인/KB국민카드,2729300,12:45,12:35
2,2023-06-01,캐세이퍼시픽항공,CDG,ICN,+1일,"경유 1, 23시간 30분",성인/KB국민카드,2729300,12:45,19:15
3,2023-06-01,캐세이퍼시픽항공,CDG,ICN,+1일,"경유 1, 25시간 30분",성인/KB국민카드,2729300,12:45,21:15
4,2023-06-01,에어프랑스,CDG,ICN,+1일,"직항, 12시간 15분",성인/KB국민카드,2964100,11:50,07:05
...,...,...,...,...,...,...,...,...,...,...
9728,2023-08-31,유나이티드항공,CDG,ICN,+2일,"경유 2, 38시간 45분",성인/모든 결제수단,8803000,17:00,14:45
9729,2023-08-31,유나이티드항공,CDG,ICN,+2일,"경유 2, 43시간 20분",성인/모든 결제수단,8803000,12:25,14:45
9730,2023-08-31,유나이티드항공,CDG,ICN,+2일,"경유 2, 38시간 45분",성인/모든 결제수단,8803000,17:00,14:45
9731,2023-08-31,유나이티드항공,CDG,ICN,+2일,"경유 2, 46시간 00분",성인/모든 결제수단,8803000,09:45,14:45
9732,2023-08-31,유나이티드항공,CDG,ICN,+2일,"경유 2, 44시간 30분",성인/모든 결제수단,8810600,11:15,14:45

In [27]:
df_clean3

,Date,Airline,Departure,Arrival,Day,time,Payment,Price,Departure_Time,Arrival_Time
0,2023-06-01,터키항공,CDG,ICN,+1일,"경유 1, 16시간 45분",성인/모든 결제수단,2396700,17:55,17:40
1,2023-06-01,터키항공,CDG,ICN,+1일,"경유 1, 18시간 30분",성인/KB국민카드,2430300,16:10,17:40
2,2023-06-01,터키항공,CDG,ICN,+1일,"경유 1, 20시간 30분",성인/현대카드,2519900,14:10,17:40
3,2023-06-01,터키항공,CDG,ICN,+1일,"경유 1, 23시간 35분",성인/현대카드,2519900,11:05,17:40
4,2023-06-01,터키항공,CDG,ICN,+1일,"경유 1, 14시간 25분",성인/모든 결제수단,2866700,12:00,09:25
...,...,...,...,...,...,...,...,...,...,...
16752,2023-08-31,에어프랑스네덜란드항공 공동운항,CDG,ICN,+2일,"경유 1, 32시간 55분",성인/현대 M2/M3 Edition2(이용실적 충족시),7135300,20:15,12:10
16753,2023-08-31,싱가폴항공,CDG,ICN,+2일,"경유 1, 33시간 55분",성인/모든 결제수단,7185200,22:40,15:35
16754,2023-08-31,여러항공사,CDG,ICN,+2일,"경유 2, 30시간 00분",성인/모든 결제수단,7207100,18:10,07:10
16755,2023-08-31,여러항공사,CDG,ICN,+2일,"경유 2, 31시간 45분",성인/모든 결제수단,7207100,16:25,07:10
16756,2023-08-31,여러항공사,CDG,ICN,+2일,"경유 2, 36시간 15분",성인/모든 결제수단,7207100,11:55,07:10

In [28]:
df_clean4

,Date,Airline,Departure,Arrival,Day,time,Payment,Price,Departure_Time,Arrival_Time
0,2023-06-01,에미레이트항공,CDG,ICN,+1일,"경유 1, 22시간 35분",성인/모든 결제수단,6136900,11:25,17:00
1,2023-06-01,에미레이트항공,CDG,ICN,+1일,"경유 1, 18시간 25분",성인/모든 결제수단,6136900,15:35,17:00
2,2023-06-01,에미레이트항공,CDG,ICN,+2일,"경유 1, 36시간 05분",성인/모든 결제수단,6136900,21:55,17:00
3,2023-06-01,대한항공,CDG,ICN,+1일,"직항, 11시간 45분",성인/모든 결제수단,10793200,21:00,15:45
4,2023-06-02,에미레이트항공,CDG,ICN,+2일,"경유 1, 36시간 05분",성인/모든 결제수단,6089300,21:55,17:00
...,...,...,...,...,...,...,...,...,...,...
1009,2023-08-31,여러항공사싱가폴항공 공동운항,CDG,ICN,+1일,"경유 1, 20시간 35분",성인/모든 결제수단,17376200,12:00,15:35
1010,2023-08-31,ANA항공 공동운항 정보확인필요,CDG,GMP,+1일,"경유 2, 21시간 50분",성인/모든 결제수단,17671000,09:35,14:25
1011,2023-08-31,ANA항공 공동운항 정보확인필요,CDG,GMP,+1일,"경유 2, 21시간 50분",성인/모든 결제수단,17711000,09:35,14:25
1012,2023-08-31,여러항공사,CDG,ICN,+2일,"경유 1, 33시간 25분",성인/모든 결제수단,17810300,12:45,05:10
1013,2023-08-31,여러항공사,CDG,ICN,+2일,"경유 1, 33시간 40분",성인/모든 결제수단,20032400,12:45,05:25

In [29]:
df_clean5

,Date,Airline,Departure,Arrival,Day,time,Payment,Price,Departure_Time,Arrival_Time
0,2023-06-01,폴란드항공,ICN,CDG,+1일,"경유 1, 29시간 35분",성인/롯데카드,813300,11:20,09:55
1,2023-06-01,폴란드항공,ICN,CDG,+1일,"경유 1, 38시간 35분",성인/롯데카드,813300,11:20,18:55
2,2023-06-01,에어인디아,ICN,CDG,+1일,"경유 1, 37시간 25분",성인/모든 결제수단,1003900,12:05,18:30
3,2023-06-01,에티오피아항공,ICN,CDG,+1일,"경유 1, 37시간 00분",성인/KB국민카드,1021400,00:25,06:25
4,2023-06-01,에티하드항공,ICN,CDG,+1일,"경유 1, 20시간 50분",성인/하나카드,1080300,17:55,07:45
...,...,...,...,...,...,...,...,...,...,...
6934,2023-08-31,루프트한자,ICN,CDG,0일,"경유 1, 16시간 05분",성인/삼성카드,1489900,12:20,21:25
6935,2023-08-31,여러항공사,ICN,CDG,0일,"경유 1, 17시간 20분",성인/하나멤버스 1Q 카드 Daily,1518800,13:20,23:40
6936,2023-08-31,대한항공,ICN,CDG,0일,"직항, 13시간 10분",장애인,1545600,12:20,18:30
6937,2023-08-31,여러항공사,ICN,CDG,0일,"경유 1, 18시간 55분",성인/하나멤버스 1Q 카드 Daily,1548900,10:55,22:50
6938,2023-08-31,카타르항공,ICN,CDG,0일,"경유 1, 26시간 45분",성인/현대 M2/M3 Edition2(이용실적 충족시),1619700,01:30,21:15

In [30]:
df_clean6

,Date,Airline,Departure,Arrival,Day,time,Payment,Price,Departure_Time,Arrival_Time
0,2023-06-01,폴란드항공,ICN,CDG,+1일,"경유 1, 29시간 35분",성인/롯데카드,1686300,11:20,09:55
1,2023-06-01,폴란드항공,ICN,CDG,+1일,"경유 1, 38시간 35분",성인/롯데카드,1686300,11:20,18:55
2,2023-06-01,루프트한자공동운항 정보확인필요,ICN,ORY,+1일,"경유 1, 28시간 15분",성인/롯데카드,1907100,11:40,08:55
3,2023-06-01,루프트한자공동운항 정보확인필요,ICN,ORY,+1일,"경유 1, 37시간 55분",성인/롯데카드,1907100,11:40,18:35
4,2023-06-01,루프트한자,ICN,CDG,+1일,"경유 1, 33시간 10분",성인/롯데카드,1907100,11:40,13:50
...,...,...,...,...,...,...,...,...,...,...
2458,2023-08-31,루프트한자,ICN,CDG,0일,"경유 1, 16시간 05분",성인/현대 M2/M3 Edition2(이용실적 충족시),1857700,12:20,21:25
2459,2023-08-31,루프트한자,ICN,CDG,0일,"경유 1, 17시간 35분",성인/현대 M2/M3 Edition2(이용실적 충족시),1857700,12:20,22:55
2460,2023-08-31,에어프랑스,ICN,CDG,0일,"직항, 14시간 05분",성인/삼성 iD PET 카드,1932000,09:05,16:10
2461,2023-08-31,폴란드항공,ICN,CDG,0일,"경유 1, 18시간 25분",성인/현대 M2/M3 Edition2(이용실적 충족시),2366600,11:20,22:45
2462,2023-08-31,여러항공사,ICN,CDG,0일,"경유 1, 18시간 50분",성인/모든 결제수단,2451300,11:50,23:40

In [31]:
df_clean7

,Date,Airline,Departure,Arrival,Day,time,Payment,Price,Departure_Time,Arrival_Time
0,2023-06-01,폴란드항공,ICN,CDG,+1일,"경유 1, 29시간 35분",성인/롯데카드,2634400,11:20,09:55
1,2023-06-01,폴란드항공,ICN,CDG,+1일,"경유 1, 38시간 35분",성인/롯데카드,2634400,11:20,18:55
2,2023-06-01,에티오피아항공,ICN,CDG,+1일,"경유 1, 37시간 00분",성인/KB국민카드,3398800,00:25,06:25
3,2023-06-01,타이항공,ICN,CDG,+1일,"경유 1, 27시간 50분",성인/KB국민카드,3613500,10:20,07:10
4,2023-06-01,타이항공,ICN,CDG,+1일,"경유 1, 20시간 40분",성인/KB국민카드,3613500,17:30,07:10
...,...,...,...,...,...,...,...,...,...,...
3382,2023-08-31,에어프랑스,ICN,CDG,0일,"직항, 14시간 05분",성인/삼성 iD PET 카드,3337600,09:05,16:10
3383,2023-08-31,대한항공에어프랑스 공동운항,ICN,CDG,0일,"직항, 14시간 05분",성인/현대 M2/M3 Edition2(이용실적 충족시),3367600,09:05,16:10
3384,2023-08-31,여러항공사,ICN,CDG,0일,"경유 1, 18시간 15분",성인/현대 M2/M3 Edition2(이용실적 충족시),3461600,11:50,23:05
3385,2023-08-31,루프트한자,ICN,CDG,0일,"경유 1, 18시간 45분",성인/현대 M2/M3 Edition2(이용실적 충족시),3511300,11:40,23:25
3386,2023-08-31,루프트한자,ICN,CDG,0일,"경유 1, 16시간 05분",성인/현대 M2/M3 Edition2(이용실적 충족시),3523000,12:20,21:25

In [32]:
df_clean8

,Date,Airline,Departure,Arrival,Day,time,Payment,Price,Departure_Time,Arrival_Time
0,2023-06-01,캐세이퍼시픽항공,ICN,CDG,+1일,"경유 1, 22시간 50분",성인/KB국민카드,10938100,15:10,07:00
1,2023-06-01,캐세이퍼시픽항공,ICN,CDG,+1일,"경유 1, 27시간 50분",성인/KB국민카드,10938100,10:10,07:00
2,2023-06-01,캐세이퍼시픽항공,ICN,CDG,+1일,"경유 1, 24시간 25분",성인/KB국민카드,10938100,13:35,07:00
3,2023-06-01,캐세이퍼시픽항공,ICN,CDG,+2일,"경유 1, 41시간 45분",성인/KB국민카드,10958700,20:15,07:00
4,2023-06-02,에미레이트항공,ICN,CDG,+1일,"경유 1, 20시간 35분",성인/현대 M2/M3 Edition2(이용실적 충족시),5843900,23:55,13:30
...,...,...,...,...,...,...,...,...,...,...
788,2023-08-30,여러항공사,ICN,CDG,0일,"경유 1, 19시간 05분",성인/모든 결제수단,6629500,10:55,23:00
789,2023-08-31,대한항공,ICN,CDG,0일,"직항, 13시간 10분",성인/현대 M2/M3 Edition2(이용실적 충족시),5953500,12:20,18:30
790,2023-08-31,여러항공사Hop 공동운항,ICN,CDG,0일,"경유 1, 16시간 55분",성인/모든 결제수단,6628600,11:25,21:20
791,2023-08-31,여러항공사,ICN,CDG,0일,"경유 1, 18시간 55분",성인/모든 결제수단,6629500,10:55,22:50
792,2023-08-31,여러항공사,ICN,CDG,0일,"경유 1, 18시간 05분",성인/모든 결제수단,6973200,10:55,22:00

In [33]:
def feature_engineering2(df):

  df_com1 = df[['Date', 'Airline', 'Departure', 'Arrival', 'Day', 'Payment', 'Price', 'Departure_Time', 'Arrival_Time']]
  df_com2 = df.time.str.split(',', expand = True)
  df_com2.columns = ['Through', 'Time']
  df = pd.concat([df_com1, df_com2], axis = 1)

  return df

In [34]:
df_clean1 = feature_engineering2(df_clean1)
df_clean1['Seat'] = '일반'

df_clean2 = feature_engineering2(df_clean2)
df_clean2['Seat'] = '프리미엄일반'

df_clean3 = feature_engineering2(df_clean3)
df_clean3['Seat'] = '비즈니스'

df_clean4 = feature_engineering2(df_clean4)
df_clean4['Seat'] = '퍼스트클래스'

df_clean5 = feature_engineering2(df_clean5)
df_clean5['Seat'] = '일반'

df_clean6 = feature_engineering2(df_clean6)
df_clean6['Seat'] = '프리미엄일반'

df_clean7 = feature_engineering2(df_clean7)
df_clean7['Seat'] = '비즈니스'

df_clean8 = feature_engineering2(df_clean8)
df_clean8['Seat'] = '퍼스트클래스'

In [35]:
df_list_pariskorea = [df_clean1, df_clean2, df_clean3, df_clean4]
df_list_koreaparis = [df_clean5, df_clean6, df_clean7, df_clean8]

In [36]:
df_pariskorea = pd.concat(df_list_pariskorea, ignore_index=True)
df_koreaparis = pd.concat(df_list_koreaparis, ignore_index=True)

In [37]:
df_pariskorea

,Date,Airline,Departure,Arrival,Day,Payment,Price,Departure_Time,Arrival_Time,Through,Time,Seat
0,2023-06-01,에어인디아,CDG,ICN,+2일,성인/모든 결제수단,614000,20:25,10:30,경유 1,31시간 05분,일반
1,2023-06-01,중국동방항공,CDG,GMP,+2일,성인/모든 결제수단,858800,21:50,11:00,경유 1,30시간 10분,일반
2,2023-06-01,중국동방항공,CDG,ICN,+2일,성인/모든 결제수단,858800,21:50,11:55,경유 1,31시간 05분,일반
3,2023-06-01,중국동방항공,CDG,ICN,+2일,성인/모든 결제수단,858800,21:50,15:20,경유 1,34시간 30분,일반
4,2023-06-01,폴란드항공,CDG,ICN,+2일,성인/모든 결제수단,912200,10:45,06:20,경유 1,36시간 35분,일반
...,...,...,...,...,...,...,...,...,...,...,...,...
47943,2023-08-31,여러항공사싱가폴항공 공동운항,CDG,ICN,+1일,성인/모든 결제수단,17376200,12:00,15:35,경유 1,20시간 35분,퍼스트클래스
47944,2023-08-31,ANA항공 공동운항 정보확인필요,CDG,GMP,+1일,성인/모든 결제수단,17671000,09:35,14:25,경유 2,21시간 50분,퍼스트클래스
47945,2023-08-31,ANA항공 공동운항 정보확인필요,CDG,GMP,+1일,성인/모든 결제수단,17711000,09:35,14:25,경유 2,21시간 50분,퍼스트클래스
47946,2023-08-31,여러항공사,CDG,ICN,+2일,성인/모든 결제수단,17810300,12:45,05:10,경유 1,33시간 25분,퍼스트클래스
47947,2023-08-31,여러항공사,CDG,ICN,+2일,성인/모든 결제수단,20032400,12:45,05:25,경유 1,33시간 40분,퍼스트클래스

In [38]:
df_koreaparis

,Date,Airline,Departure,Arrival,Day,Payment,Price,Departure_Time,Arrival_Time,Through,Time,Seat
0,2023-06-01,폴란드항공,ICN,CDG,+1일,성인/롯데카드,813300,11:20,09:55,경유 1,29시간 35분,일반
1,2023-06-01,폴란드항공,ICN,CDG,+1일,성인/롯데카드,813300,11:20,18:55,경유 1,38시간 35분,일반
2,2023-06-01,에어인디아,ICN,CDG,+1일,성인/모든 결제수단,1003900,12:05,18:30,경유 1,37시간 25분,일반
3,2023-06-01,에티오피아항공,ICN,CDG,+1일,성인/KB국민카드,1021400,00:25,06:25,경유 1,37시간 00분,일반
4,2023-06-01,에티하드항공,ICN,CDG,+1일,성인/하나카드,1080300,17:55,07:45,경유 1,20시간 50분,일반
...,...,...,...,...,...,...,...,...,...,...,...,...
13577,2023-08-30,여러항공사,ICN,CDG,0일,성인/모든 결제수단,6629500,10:55,23:00,경유 1,19시간 05분,퍼스트클래스
13578,2023-08-31,대한항공,ICN,CDG,0일,성인/현대 M2/M3 Edition2(이용실적 충족시),5953500,12:20,18:30,직항,13시간 10분,퍼스트클래스
13579,2023-08-31,여러항공사Hop 공동운항,ICN,CDG,0일,성인/모든 결제수단,6628600,11:25,21:20,경유 1,16시간 55분,퍼스트클래스
13580,2023-08-31,여러항공사,ICN,CDG,0일,성인/모든 결제수단,6629500,10:55,22:50,경유 1,18시간 55분,퍼스트클래스
13581,2023-08-31,여러항공사,ICN,CDG,0일,성인/모든 결제수단,6973200,10:55,22:00,경유 1,18시간 05분,퍼스트클래스

In [39]:
df_pariskorea.to_csv('parkor.csv', index=False)
df_koreaparis.to_csv('korpar.csv', index=False)